@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
padding: 0%;
margin: 0%;
box-sizing: border-box;
font-family: Outfit;
}
a{
    text-decoration: none;
    color: inherit;
}
body{
    background-color: #dadada;
}

nav{
    display: flex;
    align-items: center;   
    justify-content: space-between;
    background: #131921;
    padding: 2vh 1vw;
    color: #fff;
}
.nav-country{
    display: flex;
    align-items: end;
    margin-left: 15px;
    font-size: 0.7rem;
    color: #c4c4c4;
}
.nav-country h1{
    color: #fff;
    font-size: 1rem;
}
.nav-search{
    flex: 1;
    display: flex;
    align-items: center;
    background: #fff;
    color: grey;
    max-width: 1000px;
    border-radius: 4px;
    margin-left: 15px;
}
.nav-search-gatagory{
    display: flex;
    align-items: center;
    padding: 0.5vh 1vw;
    gap: 0.5rem;
    background: #e5e5e5;
    border-radius: 0.5vh 0 0 0.5vw;
}
.nav-search-input{
    border: none;
    outline: none;
    padding-left: 1rem;
    width: 100%;
}
.nav-search-icon{
    max-width: 41px;
    padding: 8px;
    background-color: #ffd64f;
    border-radius: 0 0.5vw 0.5vh 0;
}
.nav-lang{
    display: flex;
    gap: 0.4vw;
    align-items: center;
    font-weight: 600;
    margin-left: 0.5vw;
}
.nav-acc-list{
    margin-left: 1vw;
}
.nav-acc-list p{
    font-size: 0.8rem;
}
.order1{
    display: flex;
    align-items: center;
    gap: 0.4vw;
}
.nav-return-orders{
    margin-left: 1vw;
}
.nav-return-orders p{
    font-size: 12px;
}
.cart{
    display: flex;
    flex-direction: row;
    align-items: end;
    margin-left: 1vw;
}
.cart p{
    font-weight: 500;
    font-size: larger;
}
.nav-bottom{
    background-color: #232f3e;
    color: white;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: .5rem;
}
.order2{
    display: flex;
    align-items: center;
    gap: 0.5vw;
}
.banner{
    position: absolute;
    width: 100%;
    mask-image: linear-gradient(to bottom, #000000 50%, transparent 100%);
}
.outer{
    display: flex;
    justify-content: center;
    transform: translateZ(1rem);
}
.box-row0{
    margin-top: 20rem;
    padding: 5vh 1.5vw;
}
.box-col0{
    background: white;

}
.box-col0 h3{
    padding: 1vh 1vw;
}
.box-col0 a{
    color: #009999;
}
.box-row{
    transform: translateZ(1rem);
    margin-top: 0rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding:  1rem 1.5rem;
    gap: 2vh;
}
.box-contents{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    width: 30vw;
    padding: 1rem;
}
.box-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    background: white;
    max-width: 24%;
    min-height: 200px;
}
.box-col :hover{
    cursor: pointer;
    background-color: #4141411a;
    border-radius: 1rem;
    }
.box-col a{
    font-size: 13px;
    color: #009999;
}
.products{
    background-color: white;
    padding: 1vh 1.5vw;
    margin: 0 0 0 1.5vw;
    width: 97%;
}
.products .product {
    display: flex;
    justify-content: center;
    height: 13vw;
}
.footer-outer{
    background-color: #232F3E;
    width: 100%;
    color: white;
}
.layer1{
    display: flex;
    justify-content:  space-around;
    flex-direction: row;
    padding-top: 4rem;
}
.box{
    line-height: 5vh;
    text-decoration: none;
}
.box :hover{
    cursor: pointer;
    background-color: #55555528;
    border-radius: 10rem;
    text-decoration: underline rgb(101, 101, 101);
}
.layer1 h5{
    font-size: large;
}
.layer2{
    display: flex;
    justify-content: center;
    padding: 2rem;
}
.layer2 img{
    height: 2vh;
    width: auto;
    padding-left: 0.5vw;
}
.btn1{
    border: #bcbbbbf6 solid 1px;
    width: 80px;
    border-radius: 0.1rem;
    text-align: center;
    margin: 1rem;
}
.btn2{
    border: #bcbbbbf6 solid 1px;
    width: 80px;
    border-radius: 0.1rem;
    text-align: center;
    margin: 1rem;
}
.layer2 span{
    padding: 1w;
}
.upanddown-btn{
    cursor: pointer;
    background-color: #00000000;
    filter: invert(100%);
    border: 0px;
    text-align: center;
}
.layer2 .logo-foot{
    width: 8%;
    height: 8%;
    margin: 2vh 10vw 0 0;
}
.layer2 :hover{
    cursor: pointer;
}